.SetVariables {
    height: 100vh;
    :global .input-area {
        height: 50%;
        .input-variable {
            display: flex;
            flex-direction: column;
            width: 40%;
            textarea {
                resize: none;
                height: 100%;
            }
        }
        .convert {            
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            button {
                margin-left: 0 5px;
                margin-top: 5px;
                padding: 20px 30px;
            }
        }
    }
    :global .result-area {
        display: flex;
        flex-direction: column;
        height: 50%;
        textarea {
            resize: none;
            height: 100%;
            margin: 5px;
            
        }
    }
}